
<div class="container">
  <div class="menu">
    <button type="button" class="btn btn-primary" (click)="onLoadMovies()">Reload Movies</button>
    <button type="button" class="btn btn-danger" (click)="onResetCache()">Reset Cache</button>
  </div>

  <select class="form-control form-control-lg" (change)="onChangeMovieSelected($event.target.value)">
    <option value="">Select a movie</option>
    <option *ngFor="let movie of movieList" [value]="movie.id">
      {{ movie.title }}
    </option>
  </select>

  <div class="card">
    <div class="card-body">
      <div class="spinner-border" *ngIf="movieSelectedLoading"></div>

      <pre *ngIf="movieSelected && !movieSelectedLoading">
        {{ movieSelected | json }}
      </pre>
    </div>
  </div>
</div>
